# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular data science languages used by data scientists.
- Listing some commonly used libraries in data science.
- Performing few arithmetic operations.

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

### Some of the commonly used libraries used by data scientists include:
1. ggplot
2. NumPy
3. Matplotlib

|Data Science Tools|
|------------------|
|RStudio|
|ApacheSpark|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# Addition operation
5+9

14

In [5]:
# Subtraction operation
20-6

14

In [6]:
# Multiplication operation
7*8

56

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
### Toree Maitra